//invers
//$lightGray: #36393B;
//$darkGray: #525351;
$lightGray: #525351;
$darkGray: #36393B;
// $lightGray: #747572;
// $darkGray: #36393B;
// $lightGray: #36393B;
// $darkGray: #747572;
$orange: #F86210;
$black: #000000;
$white: #FFFFFF;