// $lightGray: #151617;
// $darkGray: #424446;
//invers
// $lightGray: #515151;
// $darkGray: #282828;
// $orange: #F86210;
// $black: #000000;
// $white: #FFFFFF;
//paleta culori2
$lightGray: #666666;
$darkGray: #333333;
$orange: #FF9900;
$black: #000000;
$white: #FFFFFF;
$green: #14A76c;
$red: #ab3c3c;
$grey: darkgrey;
