@font-face {
    font-family: 'noobs-font';
    //src: local('OpenSans-Regular'), url(./OpenSans-Regular.ttf) format('truetype');
    src: local('Ubuntu-Regular'), url(./Ubuntu-Regular.ttf) format('truetype');
    src: local('Ubuntu-Light'), url(./Ubuntu-Light.ttf) format('truetype');
    src: local('Ubuntu-Medium'), url(./Ubuntu-Medium.ttf) format('truetype');
  }