@import '../colorPalette';
@import '../fonts/noobs-font';

.gamecard-style{
    display: flex;
    flex:1;
    background-color:$darkGray;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    height: 40%;
    min-height: 25vh;
    width: 100%;
    margin-bottom: 3%;
    flex-direction: row;
    //margin: 5%;
    //max-width: 15vw;
    //overflow-y: scroll;
    color: white;
    font-size: 100%;
    font-family: 'noobs-font';
    font-weight: 100;

    //margin-right: 1vw;
}


.gamecard-container{
    $colors: $green, $orange,$red,$grey;
    $len: length($list: $colors);
    transition: 0.4s;
    border-radius: 40px;
    box-shadow: none;
    margin-bottom: 4vh;
    

    @for $i from 1 through $len {
        &:nth-of-type(#{$len}n+#{$i}) {
          box-shadow: 0 15px nth($list: $colors, $n: $i);      
        }
      } 
    //box-shadow: 0 0 30px 0 rgba(255, 153, 0, 1), -0 -0 30px 0 rgba(255, 153, 0, 0.5);
}

// @function randomColor(){
// $colors: green,orange,red;
// $random: random(3);
// @return '$'+nth($colors,$random)
// }
.Cards-container{
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 120vh;
}

.gamecard-container:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0 8px #f86110cc;
  //box-shadow: 0 0 30px 0 rgba(255, 153, 0, 1), -0 -0 30px 0 rgba(255, 153, 0, 0.5);
  //border: 1px thin $orange;
}

.photo-container{
    float: left;
    width: 35%;
    height: 100%;
    padding: 15px;
}

.title-rating{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.description-container{
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}