@import '../colorPalette';

.toolbar-style {
    background-color: $darkGray;
    width:70vw;
    border-radius: 15px;
}
.logo-img-style {
    width: calc(10px + 20vmin);
    padding-left: 1vw;
    cursor: pointer;
}

.login-button{
      display: inline-flex;
      justify-content: space-around;
      padding: 10px;
      background:$orange;
      color: thin solid black;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      border: thin solid black;
      white-space: nowrap;   
}

.login-container{
    text-align: right;
}