@import "../colorPalette";
@import '../fonts/noobs-font';

body {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.Homepage-body{
  margin-top: 1vw;
}

.Cards-container{
  width: 80% !important;
  margin: 0;
  float: right;
  height: inherit;
}

a.page-link {
  background-color:transparent !important;
  padding: 0;
  border: 0;
  line-height: 1.5;
  color: $orange;
}

#pgn-arr{
  display: inline;
  align-self: flex-start;
  font-family: 'noobs-font';
  font-weight: 900;
}

#pgn-arr:hover{
  color: black;
}

li.pagination-arrow.page-item{
  width: 100px;
}

.sc-bdVaJa {
  width: 100%;
 }
 
 /*input*/
 .sc-bwzfXH {
  width: 100%;
  border-radius: 13px;
 }
 
 .sc-bdVaJa > div:nth-child(1) {
  /*! border: 1px solid black; */margin-bottom: 2vh;
 }
 
 .svg-inline--fa {
  //margin-left: 10px;
  //margin-right: 10px;
  //display: none;
 }

 .svg-inline--fa.fa-w-16 {
	width: 1em;
	position: absolute;
	right: 10px;
	top: 1vh;
}
 
 .kinYje {
  width:280px;
  max-height:200px;
  border:1px solid #dedede;
  border-radius:3px;
  box-sizing:border-box;
  overflow-y:auto;
  position:absolute;
  padding:0;
  margin:0;
  display: none;
 }
 
 .live-search>div>div{
   border: none !important;
 }

.gamecard-container{
  //margin-right: -1vw;
}


.arrows-container{
  $colors: $green, $orange,$red,$grey;
  $len: length($list: $colors);
  transition: 0.4s;
  border-radius: 40px;
  box-shadow: none;
  margin-bottom: 4vh;
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: space-between;

 }

.pagination-arrow{
  color: $darkGray;
  height: 50px;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  border: transparent;  
}


a, a:visited, a:active {
  color: inherit;
  outline: transparent;
}


  .Games-view {
    flex: 1;
    //height: 80vh;
    //min-height: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
  }

  .Games-view::-webkit-scrollbar { width: 0 !important }

  .Full-view{
    background-color: $lightGray;
    display: flex;
    //min-height: 100vh;
    height: 100%;
    //width: 100vw;
    flex-direction: column;
    align-items: center;
  }