@import '../colorPalette';
@import '../fonts/noobs-font';

.sidebar-style{
    //margin-left: 1vw;
    flex-direction: column;
    display: flex;
    flex:1;
    background-color: $darkGray;
    border-radius: 15px;
    align-items: center;
    height: 97%;
    width: 15%;
    overflow-y: scroll;
    float: left;
    
    //font styles
    color: white;
    font-size: 100%;
    font-family: 'noobs-font';
    font-weight: 100;
}
.sidebar-style::-webkit-scrollbar { width: 0 !important }