@import '../colorPalette';

.sidebar-style{
    flex-direction: column;
    display: flex;
    flex:1;
    background-color: $darkGray;
    border-radius: 15px;
    align-items: center;
    height: 97%;
    max-width: 15vw;
    overflow-y: scroll;
}
.sidebar-style::-webkit-scrollbar { width: 0 !important }